<!--<html>

<head>          
      <h2>Update Form</h2>
      {% for message in message %}
      <h3 style="color:green">{{message}}</h3>
      {% endfor %}
    <body>
        <form action="{% url 'app:update' object.id %}" method="POST">
        {% csrf_token %}
            <input type="text" namr="name" value="{{object.name}}" /><br />
            <input type="text" namr="marks" value="{{object.marks}}" /><br />
            <input type="text" namr="grade" value="{{object.grade}}" /><br />
            <input type="submit" value="Update" /><br />
     
        </form>
        <p style="margin-left:550px;"><a href="{% url 'app:view' %}">Check data</a></p>
        <div class="container">
    </body>
</html>-->